<footer>
  <p class="mb-0">Created by Panagiotis Gkionis</p>
</footer>

</body>
<script src="./js/jquery-3.4.1.min.js"></script>
<script src="./js/bootstrap.min.js"></script>
<script src="./js/main.js"></script>
</html>