<%- include("./partials/header")%>

<section class="container d-flex flex-column justify-content-center align-items-start" id="grow">
    <h1>Welcome to the news site</h1>
    <h2>To start reading the articles press the button below</h2>
    <a href="/articles" type="button" class="btn btn-secondary mt-1">Start reading</a>
</section>

<%- include ("./partials/footer")%>