<%- include("./partials/header")%>

<div class="container mt-5 d-flex align-items-center flex-column justify-content-center" id="grow">
  <h4>Thank you for sending your ranking for our Articles</h4>
  <p>Your message was:</p>
  <p class="review"><%=review%></p>
  <a href="/" class="btn btn-secondary mt-1 pr-3 pl-3 d-block">Go back</a>
</div>

<%- include ("./partials/footer")%>